body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

#mainnav {
    outline-style: none;
    border-style: none;
    background-color: #4178be;
}

#main {
    column-count: 1;
    position: relative;
    display: inline-block;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.stats {
    position: relative;
    float: left;
    width: 100%;
}

div.gallery {
  margin: 5px;
  border: 2px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 10px;
  text-align: center;
}
